input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  margin: 0;
  background-color: rgb(224, 225, 226);
}
header {
  height: 60px;
  background-color: #3775dd;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-img {
  height: 60px;
  width: 60px;
}
.content-items {
  display: flex;
}
.container {
  width: 1140px;
}
footer {
  background-color: #3775dd;
  height: 60px;
  text-align: center;
}

.input-number {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}
.btn:hover {
  background-color: #002fed;
}
.btn:active {
  background-color: #2f599e !important;
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
  background-color: #888f9b;
  pointer-events: none;
}

li {
  list-style-type: none;
}

.content-h {
  /* align-content: center;
  justify-content: center; */

  display: flex;
}

a {
  color: #fff;
}
.content-items {
  display: flex;
  justify-content: space-between;
}
.item-rules {
  width: 40%;
}
.rules-logo {
  height: 200px;
  width: 200px;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 1000%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
